body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/*Navigation bar*/

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

/*buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*features section*/


#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-weight: bold;
    font-size: 1.2rem;
}
.feature-p{
    color: #8f8f8f;
    font-size: 1rem;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/*testimonials*/

#testimonials{
    /*padding: 7% 15%;*/
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
em{
    font-size: 1.2rem;
    font-weight: 400;
}

/*press*/
#press{
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing*/

#pricing{
    padding: 5%;
    text-align: center;
}
.pricing-colum{
    padding: 3% 2%;
}
#pricing-head{
    font-size: 2rem;
}
.price-btn{
}


/*media quory*/

@media (max-width:1024px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}

/*Call to action*/

#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}
.cta-head{
    font-size: 3.5rem;
}

/*footer*/

#footer{
    padding: 5% 15%;
    text-align: center;
    padding-bottom: 20px;
}
.footer-icon{
    padding: 3%;
}
.f-icon{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}
.copyright{
    font-size: 1.2rem;
    color: #8f8f8f;
}